.inp {
    position: relative;
    margin: auto;
    width: 100px;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    color: white;
    top: 16px;
    left: 0;
    font-size: 16px;
    width: 120px;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 2px;
    background: green;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    color: white;
    width: 150px;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #b5c8ef;
    background: none;
    border-radius: 0;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown) + span {
    color: green;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus + span {
    color: white;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus + span + .border {
    transform: scaleX(1);
}


