#top-panel {
    display: flex;
    flex-direction: row;
    background-color: darkkhaki;
}

#left-panel-center {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    color: crimson;
    flex-grow: 1;
}

#right-panel-center {
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    color: crimson;
    flex-grow: 3;
    justify-content: center;
}

#right-panel-center input {
    margin: 5px;
    padding: 5px;
}

#center-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}