<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>WebProject</display-name>

    <servlet>
        <servlet-name>libraryServlet</servlet-name>
        <servlet-class>com.epam.library.controller.LibraryController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>libraryServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>


    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.epam.library.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/WEB-INF/pages/error/runtime-page.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.epam.library.exception.ServiceException</exception-type>
        <location>/WEB-INF/pages/error/service-exception-page.jsp</location>
    </error-page>

</web-app>
